{
    "include": [
        "src"
    ],
    "exclude": [
        "node_modules"
    ],
    "extension": [
        ".ts"
    ],
    "require": [
        "ts-node/register"
    ],
    "reporter": [
        "text"
    ],
    "sourceMap": true,
    "instrument": true
}